
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-red: #f03c42;
  --collor-yellow: #fff964;
  --color-white: #fff;
  --bg-light-gray: #e5e5e5;
  --text-gray: #5e5e5e;
  --tex-green: #02B814;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
  background-color: var(--color-red);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 15px ;
}

nav h1 {
    color: var(--collor-yellow);
    font-size: 24px;
    text-align: center;
}

#pizzas {
    padding: 20px 15px;
    background-color: var(--bg-light-gray);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.pizza-card {
    display: flex;
    margin: 20px 0;
}
.pizza-card img {
    width: 200px;
    border-radius: 12px 0 0 12px;
}

.pizza-card-description {
    background-color: var(--color-white);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza-card-description h3 {
    color: var(--text-gray);
    font-size: 24px;
}

.pizza-card-description p {
    color: var(--text-gray);
    font-size: 14px;
}

.pizza-card-description h4 {
    color: var(--tex-green);
    font-size: 24px;
}

#comments {
    padding: 20px 15px;
}

#comments h2 {
    text-align: center;
    font-size: 32px;
    color: var(--text-gray);
}

.card-comment {
    padding: 25px 20px;
    background-color: var(--collor-yellow);
    color: var(--color-red);
    border-radius: 12px;
    margin:  20px 0px;
}

footer {
    padding: 0px 15px;
    height: 120px;
    background-color: var(--color-red);
    color: var(--collor-yellow);
    display: flex;
    align-items: center;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    font-size: 16px;
}

.footer-content address {
    font-size: 16px;
}
